# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: CI

#dev브랜치에 PR날릴때 동작
on:
  pull_request:
    branches: [ "dev" ]
    
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # 소스 체크아웃
    - name: Checkout source
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.HYESOO_GITHUB_TOKEN }}
        submodules: 'true'
        
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    # Gradlew 권한 설정
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    # application-dev.yml 보도록 프로젝트 설정 완료함, YAML은 submodule에서 copy
    - name: Build with Gradle
      if: contains(github.ref, 'dev')
      run: SPRING_PROFILES_ACTIVE=[dev] ./gradlew clean copyGitSubmodule build -x test

    # 테스트
    - name: Test with Gradle
      run: SPRING_PROFILES_ACTIVE=[test] ./gradlew copyGitSubmodule test
